{% extends "admin/change_list.html" %}
{% load humanize %}
{% block result_list %}

<div class="result_list">
    <table>
        <thead>
            <tr>
                <th> <div class="text"> <a href="#">Type</a> </div> </th>
            </tr>
        </thead>
        <tbody>
            {% for row in summary %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td><a href="{% url 'admin:transactional_mail_preview' name=row %}">{{ row }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}